
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                 <th>Mensaje</th>
                 <th>Nombre del usuario</th>
                 <th>Apellidos</th>
                 <th>Email</th>
                 <th>Estado</th>
                 <th>Fecha Subido:</th>           
                 <th>Fecha Convertido:</th>           
                 <th>Videos:</th>           
                </tr>
            </thead>
            <tbody>
              <% @videos.each do |video| %>
              <tr>
                <td><%= video.message %></td>
                <td><%= video.user_name %></td>
                <td><%= video.user_lastname %></td>
                <td><%= video.user_email %></td>
                <td><%= video.status %></td>
                <td><%= video.created_at %></td>
                <td><%= video.converted_at %></td>
                <td>
                    <%= link_to video_preview_path(video, 'O'), remote: true do %>
                        <span class="glyphicon glyphicon-play" aria-hidden="true">Original</span>
                    <% end %>
                    <% if video.c_video %>
                        <br/>
                        <%= link_to video_preview_path(video, 'C'), remote: true do %>
                            <span class="glyphicon glyphicon-play" aria-hidden="true">Convertido</span>
                        <% end %>                        
                    <% end %>
                    
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <%= paginate @videos %>
</div>
<!-- /.row -->