<%= jwplayer_assets %>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <%= link_to new_video_path(:competition => @competition.id), remote: true do %>
            <button type="button" class="btn btn-warning">Nuevo Video</button>
        <% end %>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= @competition.image.url %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @competition.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%= @competition.description %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
     <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Listado de Videos
        </div>
        <div class="panel-body" id="videos_timeline">
            <%= render 'videos/timeline' %>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; SmartTools 2015</p>
            </div>
        </div>
    </div>
</footer>
<div style="" class="modal fade" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="video-modal-content" class="modal-content">
      <%= render 'videos/new', modal: true, opt: 'new' %>
    </div>
  </div>
</div>
<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="success-modal-content" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Envio exitoso.</h4>
        </div>
        <div class="modal-body">
          <div id="video-form">
                <p>
                Su video ha sido recibido exitosamente. 
                </p>
                <p>
              Pronto, Le enviaremos un e-mail cuando haya sido publicado en el sitio del concuros.
                </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>